html{
	background: url(../images/bg_intro.png) #5ac2ea bottom center repeat-x;	
	background-size:100% auto;
	height: 100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
body{
	background-color: transparent;
}
h3{
	color: #ffffff;
	
}
.game_introWrapper{
	background: url(../images/intro_logo.png) transparent top center no-repeat;	
	margin: 0px auto;
	text-align: center;
	margin-top: 20px;
	padding-top: 90px;
}
.game_logoLarge{
	font-family: KGBrokenVesselsSketch;
	font-size: 72px;
	color: #ffffff;
	font-weight: 300;
}
.game_introButton
{
	width: 200px;
}
@font-face {
    font-family: KGBrokenVesselsSketch;
    src: url(../fonts/KGBrokenVesselsSketch.ttf);
}
.game_introButtonsWrapper
{
	text-align: center;
}

  
@media (max-width: 768px) {
 html{
	background-size:230% auto;
	}
}

#timer
{
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	height: 25px;
	border-radius: 25px;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.75) 0%, rgba(80,92,96,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.75)), color-stop(100%,rgba(80,92,96,0.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.75) 0%,rgba(80,92,96,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.75) 0%,rgba(80,92,96,0.75) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.75) 0%,rgba(80,92,96,0.75) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.75) 0%,rgba(80,92,96,0.75) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf505c60',GradientType=1 ); /* IE6-9 */
}

.background
{
	background-color: #D9EDF7;
	padding: 5px;
	margin-top: 5px;
	border-radius: 10px;
}

#graphSpace
{
	float: left;
	width: 60%;
}

#chartSpace
{
	float: right;
	width: 20%;
}